*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.7; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 30rem [sidebar-end full-start] 1fr [section-start] repeat(5, minmax(min-content, 25rem)) [section-end] 1fr [full-end]; }

.sidebar {
  color: #eee;
  background-color: #647C8D;
  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .sidebar .img-box {
    padding: 2rem 0;
    border-bottom: 1px solid #FFFFFF; }
    .sidebar .img-box__img {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      opacity: .4;
      border: 2px solid #FFFFFF; }
    .sidebar .img-box span {
      display: block; }
    .sidebar .img-box__name {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 1.2rem; }
    .sidebar .img-box__sub {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1.5rem; }
  .sidebar .navigation {
    padding: 2rem 0;
    display: flex;
    flex-direction: column; }
    .sidebar .navigation__list {
      list-style: none;
      padding: 2rem;
      display: flex;
      flex-direction: column; }
    .sidebar .navigation__item {
      border-bottom: 0.7px solid #FFFFFF;
      font-weight: 100;
      margin-top: 2rem; }
    .sidebar .navigation__link,
    .sidebar .navigation :visited {
      color: #eee;
      text-transform: uppercase;
      text-decoration: none; }

.header {
  color: #eee;
  padding: 2rem;
  background-image: linear-gradient(to top, rgba(255, 69, 0, 0.65), rgba(128, 0, 128, 0.65)), url(../img/IMG_2324.jpg);
  background-size: cover;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem; }
  .header .heading__primary {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    grid-column: 2 / -1;
    grid-row: 3 / -1; }
  .header .about-me {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    font-size: 2rem;
    font-weight: 500; }
  .header .btn {
    grid-column: 2 / -1;
    grid-row: 5 / -1;
    width: 15rem;
    height: 5rem;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #FFFFFF;
    transition: all .2s; }
    .header .btn:hover {
      background-color: #FFFFFF;
      color: #ff5100;
      border-bottom: none;
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.2); }
      .header .btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .header .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.2); }

.section-projects {
  color: #eee;
  background-color: #FFFFFF;
  grid-column: section-start / section-end;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr repeat(5, min-content) 1fr;
  grid-template-rows: repeat(3, min-content); }
  .section-projects .heading__secondary {
    margin: 3rem 0;
    color: orangered;
    position: relative;
    grid-column: 1 / -1; }
    .section-projects .heading__secondary--title {
      display: block;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase; }
    .section-projects .heading__secondary--sub {
      display: block; }
  .section-projects .project-grid {
    grid-row: 2 / 3;
    grid-column: 2 / 7;
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-template-rows: repeat(3, 45rem);
    grid-gap: 3.5rem; }
  .section-projects .project-card {
    display: grid;
    grid-template-rows: repeat(7, 1fr); }
    .section-projects .project-card__top {
      grid-row: 1 / 5;
      background-color: lightblue; }
    .section-projects .project-card__bottom {
      grid-row: 5 / -1;
      background-color: orangered; }
    .section-projects .project-card__img {
      max-width: 100%;
      grid-row: 1 / 5;
      height: 100%;
      padding: 1rem;
      opacity: .4; }

.section-contact {
  color: #eee;
  background-color: #BAC3C9;
  grid-column: section-start / section-end;
  padding: 3rem 14rem;
  width: 100%; }
  .section-contact .form {
    display: flex;
    flex-direction: column; }
    .section-contact .form::-webkit-input-placeholder {
      color: pink; }
    .section-contact .form ::-moz-placeholder {
      text-align: initial; }
    .section-contact .form .input__name {
      width: 45%; }
    .section-contact .form .input__message {
      width: 75%;
      height: 15rem; }

.footer {
  color: #eee;
  background-color: #647C8D;
  grid-column: full-start / full-end; }
  .footer .copyright {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    padding: 4rem 0; }

.about-content {
  color: black;
  background-color: #fff; }
  .about-content .header {
    grid-row: 1 / 2; }
