*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [sidebar-start] 25rem [sidebar-end full-start] 1fr [section-start] repeat(5, minmax(min-content, 14rem)) [section-end] 1fr [full-end]; }

.sidebar {
  color: #eee;
  background-color: #e9c893;
  grid-row: 2 / -1;
  grid-column: sidebar-start / sidebar-end; }

.section-about {
  color: #eee;
  background-color: #1E392A;
  grid-column: sidebar-start / full-end; }

.section-projects {
  color: #eee;
  background-color: #1E392A;
  grid-column: section-start / section-end; }

.section-bio {
  color: #eee;
  background-color: orangered;
  grid-column: section-start / section-end; }

.section-contact {
  color: #eee;
  background-color: #e9c893;
  grid-column: section-start / section-end; }

.footer {
  color: #eee;
  background-color: #1E392A;
  grid-column: full-start / full-end; }
