*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
  line-height: 1.7;
  display: grid;
  grid-template-columns: 30rem auto; }

.container {
  background-color: #FFFFFF;
  grid-column: 2 / -1;
  display: grid;
  grid-template-rows: 100vh repeat(6, min-content);
  grid-template-columns: [full-start] 1fr [section-start] repeat(4, minmax(min-content, 30rem)) [section-end] 1fr [full-end]; }

.sidebar {
  height: 100%;
  width: 30rem;
  background-image: linear-gradient(to bottom, rgba(252, 75, 113, 0.65), rgba(252, 75, 113, 0.65)), url(../img/IMG_2324.jpg);
  background-size: cover;
  grid-column: 1 / 2; }
  .sidebar__content {
    position: fixed;
    width: 30rem;
    color: #1f1d1d;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%; }
    .sidebar__content .img-box {
      padding: 2rem 0;
      border-bottom: 1px solid #1f1d1d; }
      .sidebar__content .img-box__img {
        height: 15rem;
        width: 15rem;
        border-radius: 50%;
        opacity: .4;
        border: 1px solid #1f1d1d; }
      .sidebar__content .img-box span {
        display: block; }
      .sidebar__content .img-box__name {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 2rem;
        letter-spacing: 1rem; }
      .sidebar__content .img-box__sub {
        text-transform: uppercase;
        font-weight: 300;
        font-size: 1.5rem; }
    .sidebar__content .navigation {
      padding: 2rem 0;
      display: flex;
      flex-direction: column; }
      .sidebar__content .navigation__list {
        list-style: none;
        padding: 2rem;
        display: flex;
        flex-direction: column; }
      .sidebar__content .navigation__item {
        border-bottom: 1px solid #1f1d1d;
        font-weight: 300;
        margin-top: 2rem; }
      .sidebar__content .navigation__link,
      .sidebar__content .navigation :visited {
        color: #1f1d1d;
        text-transform: uppercase;
        text-decoration: none; }

.header {
  color: #FFFFFF;
  padding: 2rem;
  background-image: linear-gradient(to right bottom, rgba(107, 133, 134, 0.8), rgba(0, 0, 0, 0.8)), url(../img/IMG_2324.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr minmax(20rem, 100rem) 1fr; }
  .header__heading {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
    padding: 2rem; }
    .header__heading::after {
      content: "";
      display: block;
      width: 60%;
      height: 3px;
      background-color: #fc4b71;
      transform: translateX(10rem); }
  .header__statement {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 3rem;
    font-weight: 300;
    align-self: center; }
  .header__btn {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center; }

.section-skills {
  grid-column: full-start / full-end;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr repeat(3, 30vh) 1fr; }

.section-projects {
  color: #eee;
  background-color: #eeeeee;
  grid-column: full-start / full-end;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(min-content, 50rem)) 1fr;
  grid-template-rows: repeat(3, min-content); }
  .section-projects__heading {
    grid-column: 2 / auto;
    margin-bottom: 2rem; }
  .section-projects .project-grid {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30rem);
    grid-template-rows: repeat(auto-fill, minmax(min-content, 45rem));
    grid-gap: 4rem; }
  .section-projects .project-card {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    background-color: #6b8586;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.2);
    overflow: hidden; }
    .section-projects .project-card__top {
      grid-column: 1 / -1;
      grid-row: 1 / 5;
      display: grid;
      grid-template-columns: 1fr minmax(min-content, 18rem) 1fr;
      grid-template-rows: auto 5rem; }
    .section-projects .project-card__bottom {
      grid-column: 1 / -1;
      grid-row: 5 / -1;
      display: grid;
      grid-template-rows: 2rem minmax(6rem, 10rem) 1rem 4rem 2rem;
      grid-template-columns: 1fr minmax(min-content, 18rem) 1fr; }
    .section-projects .project-card__img {
      display: block;
      max-width: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      height: 100%;
      opacity: .4; }
    .section-projects .project-card__title {
      align-self: center;
      width: 100%;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      background-color: #fc4b71;
      border: 1px solid #0a0a0a;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 100;
      transform: translateY(1.5rem);
      border-radius: 3px;
      z-index: 10; }
    .section-projects .project-card__tech {
      grid-column: 2 / 4;
      grid-row: 2 / 3;
      display: flex;
      flex-wrap: wrap; }
    .section-projects .project-card__tech-list {
      display: block; }
    .section-projects .project-card .btn {
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      width: 100%;
      height: 100%;
      color: #FFFFFF; }
  .section-projects .github-link {
    grid-row: 3;
    grid-column: 2 / auto;
    color: #0a0a0a;
    margin-top: 3rem; }
    .section-projects .github-link a {
      text-decoration: none;
      text-transform: uppercase;
      color: orangered; }

.section-contact {
  color: #FFFFFF;
  grid-column: section-start / section-end;
  padding: 3rem; }
  .section-contact .contact__links {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around; }
    .section-contact .contact__links--linkedin {
      height: 10rem;
      width: 10rem; }
    .section-contact .contact__links--github {
      height: 10rem;
      width: 10rem; }

.footer {
  color: #eee;
  background-color: #6b8586;
  grid-column: full-start / full-end; }
  .footer .copyright {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    padding: 4rem 0; }

.heading__primary {
  font-size: 7rem;
  font-weight: 500;
  text-transform: uppercase; }

.heading__secondary {
  color: #1f1d1d;
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase; }
  .heading__secondary--sub {
    display: block;
    font-weight: 300;
    font-size: 1.5rem;
    color: #0a0a0a; }
  .heading__secondary--title {
    display: block;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase; }
  .heading__secondary--sub {
    display: block; }

.btn {
  width: 15rem;
  height: 5rem;
  color: #6b8586;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #6b8586;
  transition: all .2s; }
  .btn:hover {
    background-color: #fc4b71;
    color: #FFFFFF;
    border: 1px solid #0a0a0a;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(10, 10, 10, 0.2); }
