.about-content {

  color: black;
  background-color: #fff;

  // display: grid;
  // // grid-template-columns: repeat(3, 1fr);
  // // grid-template-rows: repeat(3, 1fr);
  // grid-template-columns: section-start / section-end;

  .header {

    grid-row: 1 / 2;

    &__welcome {
  
    }
  
    &__about-me {
  
    }
  }
}



