*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

html {
    height: 100%;
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;

    // TYPOGRAPHY
    font-size: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.7;

    display: grid;
    grid-template-columns: 30rem auto;
}

.container {
    background-color: $color-white;
    // background-image: linear-gradient(
    //     rgba($color-background-1, .4),
    //     rgba($color-background-1, .4)
    // ), url(../img/fresh_snow.png);
    // padding: 0 1rem;
    grid-column: 2 / -1;
    display: grid;
    grid-template-rows: 100vh repeat(6, min-content);
    grid-template-columns: [full-start] 1fr [section-start] repeat(4, minmax(min-content, 30rem)) [section-end] 1fr [full-end];
}