.sidebar {
  color: $color-text-light;
  background-color: $color-winter-strong;

  grid-row: 1 / -1;
  grid-column: sidebar-start / sidebar-end;

  text-align: center;

  display: flex;
  flex-direction: column;
  // position: fixed;
  height: 100%;

  .img-box {
    padding: 2rem 0;
    border-bottom: 1px solid $color-white;
    // width: 100%;

    &__img {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      opacity: .4;
      border: 2px solid $color-white;
    }

    span {
      display: block;
    }

    &__name {
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: 1.2rem;
    }

    &__sub {
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1.5rem;
    }
  }

  .navigation {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: stretch;
    // width: 100%;

    &__list {
      list-style: none;
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }

    &__item {
      border-bottom: .7px solid $color-white;
      font-weight: 100;
      margin-top: 2rem;
    }

    &__link,
    :visited {
      color: $color-text-light;
      text-transform: uppercase;
      text-decoration: none;

    }
  }
}

.header {
  color: $color-text-light;
  padding: 2rem;
  // background-color: transparent;
  background-image: linear-gradient(
    to top, 
    rgba(orangered, .65),
    rgba(purple, .65)
  ), url(../img/IMG_2324.jpg);
  background-size: cover;

  // grid-row: 1 / 2;
  grid-column: full-start / full-end;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 5rem;

  .heading__primary {

    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    // padding: 2rem;
    grid-column: 2 / -1;
    grid-row: 3 / -1;

  }
  
  .about-me {
    grid-column: 2 / -1;
    grid-row: 4 / 5;
    font-size: 2rem;
    font-weight: 500;
  }
  .btn {
    grid-column: 2 / -1;
    grid-row: 5 / -1;

    width: 15rem;
    height: 5rem;
    color: $color-white;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    // letter-spacing: .4em;
    padding: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-white;
    transition: all .2s;

    &:hover {
      background-color: $color-white;
      color: rgb(255, 81, 0);
      border-bottom: none;
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
  
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; 
      }
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

  }
}

.section-projects {
  color: $color-text-light;
  background-color: $color-white;
  // position: relative;

  grid-column: section-start / full-end;
  padding: 4rem 2rem;

  display: grid;
  grid-template-columns: 1fr repeat(5, min-content) 1fr;
  grid-template-rows: repeat(3, min-content);


  .heading__secondary {
    margin: 3rem 0;
    color: orangered;
    position: relative;
    grid-column: 1 / -1;
    // display: inline-block

    &--title {
      display: block;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    &--sub {
      display: block;
    }
  }

  .project-grid {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    display: grid;
    // grid-template-columns: repeat(4, 30rem);
    grid-template-columns: repeat(auto-fill, 30rem);
    // grid-template-rows: repeat(3, 45rem);
    grid-template-rows: repeat(auto-fill, minmax(min-content, 45rem));
    grid-gap: 3.5rem;
  }

  .project-card {
    display: grid;
    // grid-template-columns: 1fr minmax(min-content, 20rem) 1fr;
    grid-template-rows: repeat(7, 1fr);
    background-color: $color-winter-background;
    border-radius: 3px;
    box-shadow: 0 1rem 2rem rgba($color-black, .2);
    overflow: hidden;



    &__top {
      grid-column: 1 / -1;
      grid-row: 1 / 5;
    }

    &__bottom {
      grid-column: 1 / -1;
      grid-row: 5 / -1;

      display: grid;
      grid-template-rows: repeat(3, min-content) 2rem;
      grid-template-columns: 1fr repeat(2, minmax(min-content, 10rem)) 1fr;
    }

    &__img {
      display: block;
      max-width: 100%;
      grid-row: 1 / 5;
      height: 100%;
      // padding: 1rem;
      opacity: .4;
    }

    &__title {
      justify-self: center;
      // height: 4rem;
      padding: 1rem;
      width: 80%;
      grid-row: 1 / 2;
      grid-column: 2 / 4;
      background-color: orangered;
      text-align: center;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: 100;
      transform: translateY(-1rem);
      border-radius: 3px;
    }

    &__tech {
      grid-column: 2 / 4;
      grid-column: 2 / 3;
    }

    &__tech-list {
      display: block;
    }

    .btn {
      grid-row: 3 / 4;
      grid-column: 2 / 4;
      // margin-bottom:
    }
  }
}

.section-contact {
  color: $color-white;
  background-color: $color-winter-background;

  grid-column: section-start / section-end;
  padding: 3rem;

  .heading__secondary {
    margin: 3rem 0;
    color: orangered;
    position: relative;
    grid-column: 1 / -1;
    // display: inline-block

    &--title {
      display: block;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    &--sub {
      display: block;
    }
  }

  .contact__links {

    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    &--email {

    }

    &--linkedin {
      height: 10rem;
      width: 10rem;
    }

    &--github {
      height: 10rem;
      width: 10rem;
    }
  }
}

// .section-contact {
//   color: $color-text-light;
//   background-color: $color-winter-background;

//   grid-column: section-start / section-end;

//   padding: 3rem 14rem;
//   width: 100%;

//   .form {
//     // display: grid;
//     // grid-template-columns: 1fr min-content 1fr;
//     // grid-template-rows: repeat(4, 1fr);
//     display: flex;
//     flex-direction: column;
//     // align-items: center;

//     &::-webkit-input-placeholder {
//       color: pink;
//     }

//     ::-moz-placeholder {
//       text-align: initial;
//     }
    
//     .label {

//       &--name {

//       }

//       &--message {

//       }
//     }

//     .input {

//       &__name {
//         width: 45%;
//       }

//       &__message {
//         width: 75%;
//         height: 15rem;
//       }

     
//     }
//   }
  
// }

.footer {
  color: $color-text-light;
  background-color: $color-winter-strong;

  grid-column: full-start / full-end;

  .copyright {
    color: $color-white;
    font-size: 1.2rem;
    font-weight: 100;
    text-align: center;
    padding: 4rem 0;
    // text-transform: uppercase;
  }
}