.sidebar {
  color: $color-text-light;
  background-color: $color-silt;

  grid-row: 2 / -1;
  grid-column: sidebar-start / sidebar-end;
}

.section-about {
  color: $color-text-light;
  background-color: $color-forest;

  // grid-row: 1 / 2;
  grid-column: sidebar-start / full-end;
}

.section-projects {
  color: $color-text-light;
  background-color: #1E392A;

  grid-column: section-start / section-end;
}

.section-bio {
  color: $color-text-light;
  background-color: orangered;

  grid-column: section-start / section-end;
}

.section-contact {
  color: $color-text-light;
  background-color: #e9c893;

  grid-column: section-start / section-end;
}

.footer {
  color: $color-text-light;
  background-color: #1E392A;

  grid-column: full-start / full-end;
}