.sidebar {
  color: $color-text-light;
  background-color: #3CC47C;
}

.section-about {
  color: $color-text-light;
  background-color: #828081;
}

.section-projects {
  color: $color-text-light;
  background-color: #1E392A;
}

.section-bio {
  color: $color-text-light;
  background-color: orangered;
}

.section-contact {
  color: $color-text-light;
  background-color: #e9c893;
}

.footer {
  color: $color-text-light;
  background-color: #1E392A;
}