.heading {

  &__primary {
    font-size: 3.5rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  &__secondary {
    // margin: 3rem 0;
    color: $color-white;
    // position: relative;
    // grid-column: 1 / -1;
    // display: inline-block
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;

    &--sub {
      display: block;
      font-weight: 300;
      font-size: 1.5rem;
      color: $color-black;
    }
  }
}

.btn {

  width: 15rem;
  height: 5rem;
  color: $color-gunmetal;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  // letter-spacing: .4em;
  padding: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-gunmetal;
  transition: all .2s;

  &:hover {
    background-color: $color-accent;
    color: $color-white;
    border: 1px solid $color-black;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; 
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

}