.heading {

  &__primary {
    font-size: 3.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
    // padding: 2rem;
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }
  
  &__secondary {
    margin: 3rem 0;
    color: orangered;
    position: relative;
    grid-column: 1 / -1;
    // display: inline-block

    &--title {
      display: block;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
    }

    &--sub {
      display: block;
    }
  }
}

.btn {
  grid-column: 2 / -1;
  grid-row: 5 / -1;

  width: 15rem;
  height: 5rem;
  color: $color-white;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  // letter-spacing: .4em;
  padding: none;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $color-white;
  transition: all .2s;

  &:hover {
    background-color: $color-white;
    color: rgb(255, 81, 0);
    border-bottom: none;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, .2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; 
    }
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba($color-black, .2);
  }

}