// TEXT COLORS
$color-text-light: #eee;
$color-text-orange: #da6135;
$color-text-green: #91d191;
$color-eggwhite: #f7f5a7;

$color-white: #FFFFFF;

$color-black: #0a0a0a;

$color-background-1: #e6dada;
$color-background-2: #dff7f7;
$color-gunmetal: rgb(107, 133, 134);
$color-accent: rgb(252, 75, 113);