// TEXT COLORS
$color-text-light: #eee;
$color-text-medium: #c0c0c0;
$color-text-orange: #da6135;
$color-text-green: #91d191;
$color-text-eggwhite: #f7f5a7;

// THEMES
// INITIAL
$color-primary-light: #524d4d;
$color-primary: #2e2b2b;
$color-primary-dark: #1d1c1c;

// FOREST
$color-forest: #1E392A;
$color-electric: #3CC47C;
$color-silt: #e9c893;
$color-tin: #828081;

// WINTER
$color-winter-background: #BAC3C9;
$color-winter-strong: #647C8D;
$color-winter-grey: #8A9AA5;
$color-winter-light: #E4E7E8;
$color-white: #FFFFFF;

$color-black: #0a0a0a;

$color-background: #e6dada;