.sidebar {
    position: fixed;
    height: 100%;
    width: 25%;
    padding: 2rem;
    top: 0;
    left: 0;
    background-color: $color-primary;
    z-index: 1000;
    overflow: scroll;

    &__inner {
        height: 100%;
        padding: 2rem 5rem;
    }
}

.personal-heading {
    position: relative;
    margin-bottom: 1rem;
    height: auto;
    display: block;
    cursor: pointer;

    &__img-box {
        display: block;
        text-align: center;
    }

    &__img {
        height: 152px;
        width: 152px;
        border-radius: 50%;
    }

    &__text-box {
        display: block;
        text-align: center;
    }
}

.navigation {

    &__nav {
        position: relative;
        display: block;
        padding: 1rem;
    }

    &__list {
        list-style: none;
        text-align: left;
    }

    &__item {
        margin: 1rem;
        width: 100%;
    }

    &__link {
        width: 100%;
        display: inline-block;
        color: $color-text-medium;
        text-transform: uppercase;
        font-weight: 300;
        text-decoration: none;

        &:hover {
            transform: translateY(-1.5rem), scale(1);
            -webkit-transition: .3s;
            transition: .3s;
            color: $color-text-light;
            background-color: $color-primary-light;
        }
    }
}