body {
    font-size: 16px;
    font-family: 'Roboto', Helvetica, sans-serif;
    line-height: 1.7;
    // color: rgb(192, 192, 192);
}

.heading-primary {
    text-transform: uppercase;
    color: $color-text-medium;

    &--main {
        display: block;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: .4rem;
    }

    &--sub {
        display: block;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: .15rem;
    }
}

.heading-secondary {
    text-transform: uppercase;
    // text-decoration: underline;
    color: #bb5f3e;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    border-bottom: 1px solid $color-primary-light;
}

.heading-tertiary {
    text-transform: lowercase;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .18rem;
    color: $color-text-eggwhite;
}

.paragraph {
    padding: 2rem 3rem;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: .15rem;
    line-height: 2.84rem;
    color: $color-text-medium;
}