*,
*::after,
*::before {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $color-primary-light;
}

main {
    padding-left: 25%;
    width: 100vw;
}

.content {
    margin: 2rem;
    padding: 2rem;
    height: auto;
    background-color: $color-primary-dark;
    border-left: 2px solid $color-text-green;
}