.section-about {

    &__bio {

    }

    &__skills {
        
    }
}

.section__portfolio {

    &-grid {
        color: $color-text-light;


        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5rem;
    }
}